<div class="link-arrows-grid">
    <div class="link-arrows-row">{%if "↖" in card.link_arrows%}↖️{% else %}🟦{% endif %}{%if "⬆" in card.link_arrows%}⬆️{% else %}🟦{% endif %}{%if "↗" in card.link_arrows%}↗️{% else %}🟦{% endif %}</div>
    <div class="link-arrows-row">{%if "⬅" in card.link_arrows%}⬅️{% else %}🟦{% endif %}🟦{%if "➡" in card.link_arrows%}➡️{% else %}🟦{% endif %}</div>
    <div class="link-arrows-row">{%if "↙" in card.link_arrows%}↙️{% else %}🟦{% endif %}{%if "⬇" in card.link_arrows%}⬇️{% else %}🟦{% endif %}{%if "↘" in card.link_arrows%}↘️{% else %}🟦{% endif %}</div>
</div>