<div class="home-title"><strong>Excavate</strong> is a <strong>Yu-Gi-Oh!</strong> card searcher.</div>
<div class="home-screen-input">
    <form action="/search" method="get" class="home-search-form">
        <input 
            type="text" 
            name="q" 
            class="home-search-input"
            value="{{ query }}" 
            aria-label="Search">
    </form>
    <div class="home-screen-links">
        <a href="/random" style="text-decoration:none;color:white;"><h5>Random card</h5></a>
        <div class="link-divider"></div>
        <a href="/syntax" style="text-decoration:none;color:white;"><h5>Syntax guide</h5></a>
        <div class="link-divider"></div>
        <a href="/golf" style="text-decoration:none;color:white;"><h5>Golf game</h5></a>
    </div>
    <div class="home-screen-links">
        <a href="https://www.patreon.com/DiamondDudeYGO" style="text-decoration:none; color:white;"><h5>Support Excavate on Patreon</h5></a>
    </div>
</div>