<div class="top-bar-links">
    <div></div>
    <a href="/random" style="text-decoration:none;color:white;"><h5 class="top-bar-link">Random</h5></a>
    <div class="link-divider"></div>
    <a href="/syntax" style="text-decoration:none;color:white;"><h5 class="top-bar-link">Syntax</h5></a>
    <div class="link-divider"></div>
    <a href="/golf" style="text-decoration:none;color:white;"><h5 class="top-bar-link">Golf</h5></a>
    <div></div>
</div>