<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excavate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resultsbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formats.css')}}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest')}}">
    <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico')}}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'widgets/top-bar.html.jinja' %}
    <div class="formats-container"><h1>Popular formats</h1></div>
    <div class="formats-container">
        {%for format in formats %}
            {% if format.popular and format.popular == true %}
                {% include 'widgets/format-item.html.jinja'%}
            {% endif %}
        {%endfor%}
    </div>
    <div class="formats-container"><h1>Highlighted formats</h1></div>
    <div class="formats-container">
        {%for format in formats %}
            {% if format.highlight and format.highlight == true %}
                {% include 'widgets/format-item.html.jinja'%}
            {% endif %}
        {%endfor%}
    </div>
    <div class="formats-container"><h1>Other formats</h1></div>
    <div class="formats-container">
        {% for format in formats %}
            {% if not format.highlight and not format.popular %}
                {% include 'widgets/format-item.html.jinja' %}
            {% endif %}
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='js/formats.js') }}?v={{ config['STATIC_VERSION'] }}"></script>
</body>
</html>
